/* Style overrides for the generated website. */

/* ---------------------------------------------------------------------------------- */
/* HERO */
/* homepage - hero - height */
.section-wrapper .fullscreen {
   height: auto;
 }

/* ---------------------------------------------------------------------------------- */
/* HEADINGS */
/* headings - blue background */
.color-blue .section-media .claim-bg-color>span>span,
.color-blue .section-media .claim-color>span>span {
  box-shadow: 10px 0 0 #004a8f, -10px 0 0 #004a8f, 10px 0 0 #004a8f, -10px 0 0 #004a8f, 10px 0 0 #004a8f, -10px 0 0 #004a8f;
  background-color: #004a8f;
}

/* ---------------------------------------------------------------------------------- */
/* NAVIGATION */
/* homepage - navigation - orange bacground */
.section-media.header-01.design-01 .nav-line {
    background-color: #ffc535;
}
/* other pages - navigation - orange bacground */
.section-black.header-01.design-02 .nav-line {
    background-color: #ffc535;
}

/* homepage - navigation - hide blue line in active navigation items */
/* @media (min-width: 768px) {
  .color-blue .section-media.header-01 ul.level-1>li:not(.wnd-homepage).wnd-active-path>a,
  .color-blue .section-media.header-01 ul.level-1>li:not(.wnd-homepage).wnd-active>a,
  body:not(.touched) .color-blue .section-media.header-01 ul.level-1>li>a:hover {
    border-color: none;
  }
} */

/* homepage - navigation - background colours and hide the top line (in active items) */
@media (min-width: 768px) {
   body:not(.touched) .section-media.header-01 ul.level-1>li>a:hover {
      background-color: rgba(255,255,255,0.3);
      border: 0;
   }
}

/* other pages - navigation - hide blue line in active navigation items */
/* @media (min-width: 768px) {
  .color-blue .section-black.header-01 ul.level-1>li:not(.wnd-homepage).wnd-active-path>a, 
  .color-blue .section-black.header-01 ul.level-1>li:not(.wnd-homepage).wnd-active>a, 
  body:not(.touched) .color-blue .section-black.header-01 ul.level-1>li>a:hover {
    border: none;
  }
} */

/* other pages - navigation - background colour and hide the top line (in active items) */
@media (min-width: 768px) {
   .section-black.header-01 ul.level-1>li:not(.wnd-homepage).wnd-active-path>a, 
   .section-black.header-01 ul.level-1>li:not(.wnd-homepage).wnd-active>a {
      background-color: rgba(255,255,255,0.3);
      border: 0;
   }
}
/* ---------------------------------------------------------------------------------- */
/* ICONS */
/* icons - blue colour */
.color-blue .section-white .mt-03-column embed,
.color-blue .section-white .mt-contact-02 embed {
    color: #004a8f;
}
